    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Galery Kami</h2>
                <p>Di galery kami,kami menunjukkan beberapa media.kami memilih foto dan suara karena kedua media tersebut merupakan media yang paling populer saat ini.</p>
                <p>Musik ternyata bisa di ubah-ubah menjadi kualitas kecil dengan ukuran kecil dan sebaliknya dan bisa berubah menjadi suara wanita dari laki-laki dan sebaliknya serta dapat memperbesar volume dan tempo yang dipercepat.Untuk musik ini sendiri kami memilih lagu dari american author yang berjudul best day of my life mengingat lagu tersebut tengah populer dan banyak di lantunkan untuk acara-acara TV nasional di Indonesia.</a></p>
                <p>Selanjutnya untuk foto,yang akan kami tampilkan di bawah ini adalah foto yang sama namun dengan 3 ukuran berbeda.kami memilih gambar logo kelas kami yakni kelas F Sistem Informasi 2014 UIN SUSKA Riau.Mari melihat kebawah.</p>
                
            <p>American author-best day of my life(8kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(8kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(32kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(32kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(64kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(64kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps) amplify</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps) amplify.mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps)fast cepat</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps)fast cepat.mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps)suara anak anak cipmunks</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps)suara anak anak cipmunks.mp3" type="audio/mpeg" />   
</audio>


            </div>
        </div>
        
        <p>Logo Sif F angkatan 2014 original</p>
<img src="img/SIF14F Wallpaper.jpg" ></img>

<p>Logo Sif F angkatan 2014 kw2 lebih kecil</p>
<img src="img/SIF14F Wallpaperkw2.jpg" ></img>

<p>Logo Sif F angkatan 2014 kw 3 kecil kali agak pecah</p>
<img src="img/SIF14F Wallpaperkw3.jpg" ></img>
    </section>
