    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Multimedia Page</h2>
                <p>Multimedia Page ini berisi gambar dan musik.</p>
                
            <p>American author-best day of my life(8kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(8kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(32kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(32kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(64kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(64kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps)</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps).mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps) amplify</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps) amplify.mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps)fast cepat</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps)fast cepat.mp3" type="audio/mpeg" />   
</audio>

<p>American author-best day of my life(224kbps)suara anak anak cipmunks</p>
            <audio controls="controls">
<source src="mp3/American author-best day of my life(224kbps)suara anak anak cipmunks.mp3" type="audio/mpeg" />   
</audio>


            </div>
        </div>
        
        <p>Logo Sif F angkatan 2014 original</p>
<img src="img/SIF14F Wallpaper.jpg" ></img>

<p>Logo Sif F angkatan 2014 kw2 lebih kecil</p>
<img src="img/SIF14F Wallpaperkw2.jpg" ></img>

<p>Logo Sif F angkatan 2014 kw 3 kecil kali agak pecah</p>
<img src="img/SIF14F Wallpaperkw3.jpg" ></img>
    </section>
