    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Pengunduhan</h2>
                    <p>Jika ingin Download semua galery kami,klik tombol dibawah ini:</p>
                    <a href="http://www.4shared.com/rar/dVvD11C4ba/apmobafilemedia.html" class="btn btn-default btn-lg">Buka Halaman Download</a>
                </div>
            </div>
        </div>
    </section>
